@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #080808;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.content {
    top: 0;
    left: 0;
    text-align: center;
    padding: 0 30px;
    color: #fff;

}

header {
    display: flex;
    background-color: #1D1E21;
    border-radius: 8px;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 0;
    align-items: center;
    min-width: 250px;
}

header img {
    width: 60px;
    min-width: 60px;
    border-radius: 100%;
    user-select: none;
}

header h1 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
    user-select: none;
}

header nav {
    display: inline;
    width: auto;
    margin-left: auto;
}

ul li {
    display: inline-block;
    padding: 0 20px;
}

a {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    user-select: none;
}

@media (max-width: 550px) {
    header nav {
        display: none;
    }
}

@media (max-width: 550px) {
    header {
        align-items: center;
        justify-content: center;
    }
}

a:hover {
    color: lightseagreen;
    transition: .7s;
}

.nav-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.title {
    font-size: 100px;
    font-weight: 700;
    color: #fff;
}

.title2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.subtitle {
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 0px;
}


.logo {
    width: 250px;
    min-width: 250px;
    border-radius: 100%;
    box-shadow: -1px -1px #16151f, 2px 2px #16151f, -1px -1px 2px 2px #16151f;
}

.btn {
    color: #fff;
    background-color: #1D1E21;
    text-decoration: none;
    font-size: 18px;
    margin: 5px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .2);

}

.btn-primary {
    background-color: #16151f;
}

.btn-secondary {
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    color: #16151f;
    background-color: lightseagreen;
    box-shadow: 0px 0px 8px 2px white;
    -webkit-box-shadow: 0px 0px 8px 2px lightseagreen;
    -moz-box-shadow: 0px 0px 8px 2px lightseagreen;
}

.btn-secondary:hover {
    color: white;
    background-color: lightseagreen;
}

.btn-top {
    background-color: #16151f;
}

.btn-topgg {
    transition: all 0.3s ease-in-out;
}

.btn-top:hover {
    color: #800020;
    background-color: #800020;
    box-shadow: 0px 0px 8px 2px white;
    -webkit-box-shadow: 0px 0px 8px 2px #800020;
    -moz-box-shadow: 0px 0px 8px 2px #800020;
}

.btn-topgg:hover {
    color: white;
    background-color: #800020;
}

.land-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.features .information {
    display: grid;
    grid-template-columns: repeat(2, 0.9fr);
    gap: 3rem;
}

@media (max-width: 900px) {
    .features .information {
        grid-template-columns: repeat(1, 0.9fr);
    }
}

.features .info {
    flex-direction: column;
    border-radius: 10px;
    background-color: #16151f;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    place-items: center;
}

.features .img {
    width: 10%;
    min-width: 64px;
    filter: invert();
}

.features h2 {
    color: white;
    font-size: 30px;
    margin-top: 150px;
}

.features .title4 {
    color: white;
    text-align: center;
    font-size: 1.4em;
}

span {
    color: lightseagreen
}

.servers {
    margin-top: 200px;
    width: auto;
    min-width: 350px;
}

.servers h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 100px;
}

.server {
    background-color: #16151f;
    border-radius: 10px;
    display: inline-block;
    width: 250px;
    height: 150px;
    margin: 50px;
}

.server img {
    border-radius: 10%;
    width: 50%;
    box-shadow: -1px -1px #16151f, 2px 2px #16151f, -1px -1px 2px 2px #16151f;
    margin-top: -60px;
}

.page {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    background-color: #080808;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: lightseagreen;
    width: 8px;
    border-radius: 5px;
}

.noselect {
    user-select: none;
}

.footer {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
    padding: 30px;
}

.sparked {
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.sparked h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}

.sparked a {
    font-size: 30px;
    font-weight: 800;
    color: gold;
}

.sparked a:hover{
    color: goldenrod;
}

.sparked img {
    width: 80%;
    border-radius: 10px;
}