@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #080808;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-align: center;
    color: #fff;
    user-select: none;
}

header {
    display: flex;
    background-color: #1D1E21;
    border-radius: 6px;
    width: 90%;
    padding: 15px;
    margin-top: 10px;
    margin-left: 5%;
    align-items: center;
    min-width: 250px;
}

header h1 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
    user-select: none;
}

header nav {
    display: inline;
    width: auto;
    margin-left: auto;
}

.li:hover {
    color: lightseagreen;
    transition: .7s;
}

ul li {
    display: inline-block;
    padding: 0 20px;
}

a {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    user-select: none;
}

.text-and-logo {
    display: flex;
    place-content: center;
    place-items: center;
}

.text-and-logo a {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.text-and-logo img {
    width: 3rem;
    border-radius: 100%;
    user-select: none;
}

#bio {
    background-color: #1D1E21;
    border-radius: 6px;
    padding: 0 10px;
    position: absolute;
    top: 14%;
    margin-left: -17px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    animation-name: logo-slogan-sink, logo-slogan;
    animation-duration: .3s, 1.5s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
    user-select: none;
}

@-webkit-keyframes logo-slogan {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }

    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }

    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@keyframes logo-slogan {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }

    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }

    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-webkit-keyframes logo-slogan-sink {
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@keyframes logo-slogan-sink {
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px)
    }
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 720px) {
    header {
        top: 0%;
        position: fixed;
    }

    #bio {
        display: none;
    }

    .checkbtn {
        display: block;
    }

    #check {
        display: none;
    }

    ul {
        background-color: #1D1E21;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 90%;
        margin-left: 5%;
        height: 60%;
        top: 16%;
        right: -100%;
        text-align: center;
        transition: all, .5s;
        position: fixed;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        right: 5%;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        display: none;
    }
}

ul li {
    display: inline-block;
    padding: 0 20px;
}

.title {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-top: 100px;
}

.subtitle {
    text-align: start;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
}

.descri {
    font-size: 20px;
    font-weight: 700;
    color: #d4d4d4;
}

.logo {
    width: 250px;
    min-width: 250px;
    border-radius: 100%;
    box-shadow: -1px -1px #16151f, 2px 2px #16151f, -1px -1px 2px 2px #16151f;
}

span {
    color: lightseagreen
}

.div-tos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modi {
    font-size: 18px;
    margin: 20px
}

.tos {
    display: flex;
    border-radius: 10px;
    padding: 30px;
    background-color: #1D1E21;
    width: 80%;
}

.texto {
    color: rgba(255, 255, 255, 0.75);
    text-align: start;
}

@media(max-width: 720px) {
    .title {
        margin-top: 150px;
    }
}

::-webkit-scrollbar {
    background-color: #080808;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: lightseagreen;
    width: 8px;
    border-radius: 5px;
}

footer {
    margin-top: 200px;
    width: 100%;
    background-color: #1D1E21;
}

footer .information-footer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.box-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-footer h3 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.enlaces {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .information-footer .box-footer a{
    text-align: start;
    margin-bottom: .5rem;
    opacity: .5;
    color: #d4d4d4;
    text-decoration: none;
    background-image: linear-gradient(lightseagreen,lightseagreen);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
footer .information-footer .box-footer a:hover{
    background-size: 100% 2px;
    opacity: 1
}
